// Colors
$pastelPurple: #ebdff4;
$pastelPink: #f4dfec;
$pastelBlue: #dff4f4;
$pastelGreen: #dfffd9;
$darkPurple: #623f75;

// Fonts
$font-family-sans-serif: "neuzeit-grotesk", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-bebas-neue-bold: "Bebas Neue Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-weight-base: 300;

// Responsive
$screen-xl: 1200px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;

// Resets
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Modals
$modal-backdrop-bg: #4c325b;
$modal-backdrop-opacity: .8;

// Buttons
$btn-primary-bg: $darkPurple;